.theh3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 80px;
    margin-top: 5px;
    align-self: center;
}

.menu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -59px;
    margin-left: 1300px;
    color: #4B5563;
    gap: 10px;

}

.buttondownload {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    width: 95px;
    height: 27 px;
    background: #111827;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #F9FAFB;

}

.imgmenu {
    margin-top: -25px;
    margin-left: 1540px;
}

.tieude {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 100px;
}

.textp {
    color: #4B5563;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-left: 103px;
    margin-top: -30px;


}

.ptextdiachi {
    color: #4B5563;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-left: 140px;
    margin-top: -65px;
}

.ptextonline {
    color: #4B5563;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-left: 140px;
    margin-top: -6px;
}

.imgprofile {
    width: 400px;
    height: 360px;
    display: flex;
    justify-content: flex-end;
    margin-left: 1200px;
    margin-top: -300px;
}

.imglink {
    margin-left: 100px;
    margin-top: -30px;
}

.buttonskills {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    width: 45px;
    height: 20px;
    background: #E5E7EB;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 900px;
    margin-top: 220px;
    color: #414142;
}

.ptextskills {
    color: #4B5563;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    margin-left: 650px;
    margin-top: 12px;

}

.imgit {
    text-align: center;
    margin-left: 180px;
}

.ptextwork {
    color: #4B5563;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    margin-left: 700px;
    margin-top: 12px;
}

.card1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-left: 400px;
    width: 1152px;
    height: 480px;
    background: #FFFFFF;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.07), 0px 2px 2px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.imgcard1 {
    margin-top: -480px;
    margin-left: 400px;
}

.Fiskil {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1010px;
    margin-top: -450px;
}

.textpFiskil {
    color: #4B5563;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    padding-left: 1010px;
    margin-top: 12px;
    font-size: 16px;
}

.buttoncard1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    width: 45px;
    height: 20px;
    background: #E5E7EB;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 1060px;
    margin-top: 30px;
    color: #414142;

}

.button2card1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    width: 45px;
    height: 20px;
    background: #E5E7EB;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 1160px;
    margin-top: -28px;
    color: #414142;

}

.button3card1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    width: 45px;
    height: 20px;
    background: #E5E7EB;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 1260px;
    margin-top: -28px;
    color: #414142;

}

.button4card1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    width: 45px;
    height: 20px;
    background: #E5E7EB;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 1360px;
    margin-top: -28px;
    color: #414142;

}

.imgcardd1 {
    padding-left: 1053px;
    padding-top: 20px;
}

.card2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-left: 400px;
    margin-top: 260px;
    width: 1152px;
    height: 480px;
    background: #FFFFFF;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.07), 0px 2px 2px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
}